.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/valo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .h1{
    color: white;
    
  }

  .spad{
    padding-top: 100px;
  }

  .cata {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 6px 25px;
  }
  
  .cata.new {
    background: #ff205f;
  }
  
  .cata.strategy {
    background: #4eae60;
  }
  
  .cata.racing {
    background: #694eae;
  }
  
  .cata.adventure {
    background: #40abf5;
  }
  .sitebtn {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #131313;
    padding: 16px 30px;
    min-width: 153px;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    background: #ffb320;
    cursor: pointer;
  }
  .card {
    display: flex;
  }
